/* HTML Element Selectors */
body {
    text-align: center;
}

textarea {
    resize: none;
}

/* Containers */
.container-fluid {
    padding: 2rem 12%;
}

/* Navbar selectors */
.logo {
    height: 50px;
    width: 50px;
}
.navbar {
    padding: 3rem;
}
.nav-item {
    padding: 0 20px;
}
.nav-link {
    color:red;
    font-weight: normal;
    font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
}

/* Title selectors */
#title {
    width: 100%;
    height: 600px;
    background-image: url("../images/typewriter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title .container-fluid {
    text-align: left;
    padding: 0;
}

#title .btn-contact {
    font-size: 1.2rem;
    margin: 0 0 0 3rem;
}

.title-heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem 30rem 1.5rem 3rem;
}

/* Features Selectors */

.feature-desc {
    margin: 5rem 0;
}

.feature-text {
    text-align: left;
    margin: 6rem 0 0 0;
    line-height: 2;
}

.feature-glasses {
    height: 100%;
    margin: 6rem 0 1rem 0;
    max-width: 100%;
}

.feature-ai {
    height: 50%;
    width: 50%;
    margin: 2rem 0;
}

/* Team Section Selectors */
.team-pic {

}