/* HTML Element Selectors */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Crimson Text", serif;
    margin-bottom: 1.5rem;
}

textarea {
    resize: none;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

/* Fade in classes */
.disappeared {
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.disappeared-left {
    transform: translateX(-20px);
}

.disappeared-right {
    transform: translateX(20px);
}

.appear {
    opacity: 1;
    transform: translateX(0px);
}

/* Containers */
.container-fluid {
    padding: 8% 12%;
}

.navy-section {
    background-color: rgba(23, 60, 120, 1);
    color: white;
}

.bright-red-section {
    background-color: #FA230F;
    color: white;
}

.darker-red-section {
    background-color: #bc2525;
    color: white;
}

.brown-red-section {
    background-color: #C9501E;
    color:white;
}

.white-section {
    background-color: white;
    color: black;
}

.light-grey-section {
    background-color: #9B9797;
    color: snow;
}

.brown-section {
    background-color: #42240c;
    color: white;
}

.box-shadow {
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}

.bottom-shadow {
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.8);
    box-shadow:         0 3px 10px 0 rgba(0, 0, 0, 0.8);
}

/* Navbar selectors */
.logo {
    width: auto;
    transition: height 0.5s;
    transition-timing-function: cubic;
}

.logo-big {
    height: 5rem;
}

.logo-small {
    height: 3rem;
}

.navbar {
    background-color: rgba(9, 8, 6, 0);
    padding: 1.5rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 1s;
    transition-timing-function: cubic;
}

.nav-item {
    padding: 0 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color:rgba(255, 255, 255, 0.7);
    font-family: "Crimson Text", serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar-colored {
    background-color: rgba(155, 151, 151, 0.7);
}

/* Title selectors */
#title {
    width: 100%;
    height: 100vh;
    background-image: url("../images/title-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35vh;
}

#title .container-fluid {
    text-align: left;
    padding: 0;
}

#title .btn-contact {
    font-size: 1.2rem;
    margin: 0 0 0 3rem;
}

.title-heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 30rem 1rem 3rem;
}

.title-heading-2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

/* Features Selectors */
.feature-desc {
    margin: 5rem 0;
}

.feature-text {
    text-align: left;
    line-height: 2;
}

.feature-text-right {
    text-align: right;
    line-height: 2;
}

/* .feature-glasses {
    height: 100%;
    margin: 0 0 1rem 0;
    max-width: 100%;
}

.feature-ai {
    height: 50%;
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 6rem;
} */

.feature-img {
    height: 20rem;
    width: 20rem;
}

.attribution {
    font-size: 0.7rem;
}

/* Audience selectors */
.carousel-item {
    height: 350px;
    overflow: hidden;
    width: 100%;
}

/* Team Section Selectors */
.bottom-team-row {
    margin-top: 2rem;
}

/* Contact Section Selectors */
#contact a {
    margin: 3rem 0;
    padding: 1rem 0;
}

/* Footer Selectors */
#footer {
    font-family: "Crimson Text", serif;
}

/* Responsive Breakpoints (based on Bootstrap) */
/* Large devices, desktops, tablets < 1100px */
@media only screen and (max-width:1100px) {
    .title-heading {
        font-size: 2.5rem;
        margin-right: 20rem;
    }
    .title-heading-2 {
        font-size: 1.7rem;
    }
    .carousel-item {
        height: 100%;
    }
    .feature-text {
        text-align: left;
    }
    .feature-text-right {
        text-align: right;
    }
    .feature-img {
        height: 18rem;
        width: 18rem;
    }

}

/* Small devices such as landscape phones */
@media only screen and (max-width: 767px) {
    body {
        font-size: 0.9rem;
    }
    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .logo-big {
        height: 4rem;
    }

    .title-heading {
        font-size: 2rem;
        margin-right: 10rem;
    }

    .title-heading-2 {
        font-size: 1.5rem;
    }
    
    .feature-text, .feature-text-right {
        text-align: center;
    }

    /* .feature-glasses {
        margin-top: 5rem;
    } */

    .feature-img {
        height: 15rem;
        margin: 1rem 0;
        width: 15rem;
    }

    .team-member {
        margin: 0.25rem 0;
    }
}

/* Portrait phones, small devices */
@media only screen and (max-width: 576px) {
    .title-heading {
        margin-right: 5rem;
    }
    .title-heading-2 {
        font-size: 1rem;
    }

    .feature-img {
        height: 10rem;
        margin: 1rem 0;
        width: 10rem;
    }
}
